src/*.exe
src/chronoscoin
src/chronoscoind
src/test_chronoscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.chronoscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
chronoscoin-qt
Chronoscoin-Qt.app

# Unit-tests
Makefile.test
chronoscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
